---
const { title = 'Astro Site' } = Astro.props;
const base = import.meta.env.BASE_URL;
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href={`${base}styles/global.css`}>
    <link rel="stylesheet" href={`${base}styles/glider.min.css`}>
  </head>
  <body>
    <header class="bg-light py-2 border-bottom">
      <div class="container d-flex justify-content-between align-items-center">
        <img src={`${base}images/iitmlogo.png`} alt="Logo 1" height="50">
        <img src={`${base}images/iitmlogo.png`} alt="Logo 1" height="50">
        <img src={`${base}images/iitmlogo.png`} alt="Logo 1" height="50">
      </div>
    </header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{base}">ECR</a>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href={`${base}`}>Home</a></li>
            <li class="nav-item"><a class="nav-link" href={`${base}getInvolved`}>Get Involved</a></li>
            <li class="nav-item"><a class="nav-link" href={`${base}newsLetters`}>New Letters</a></li>
            <li class="nav-item"><a class="nav-link" href={`${base}events`}>Events</a></li>
            <li class="nav-item"><a class="nav-link" href={`${base}oppurtunities`}>Opputunities</a></li>
            <li class="nav-item"><a class="nav-link" href={`${base}about`}>About</a></li>
            <li class="nav-item"><a class="nav-link" href={`${base}contact`}>Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <main class="container mt-4">
      <slot />
    </main>

    <footer class="bg-dark text-white text-center py-3">
      <div class="container">
        <small>&copy; 2025 IITM. All rights reserved.</small>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.8/glider.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        new Glider(document.querySelector('.glider'), {
          slidesToShow: 1,
          dots: '.dots',
          draggable: true,
          scrollLock: true,
          rewind: true,
          arrows: {
            prev: '.glider-prev',
            next: '.glider-next'
          }
        });
      });
    </script>
  </body>
</html>